head

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')

  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel="stylesheet", href="/css/jquery.tagsinput.css")
  link(rel='stylesheet', href='/css/app.css')
  script(type='text/javascript', src='/js/jquery.min.js')