div#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/')= appName
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/survey') 问卷调查
            li
              a(href="/survey/list") 问卷记录
            li
              a(href="/survey/statistics") 问卷统计
          ul.nav.pull-right


            
