!!! 5
html
  head
    title= appName+' - '+title
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(type='text/javascript', src='/js/jquery.min.js')

  body
    center
      img(src="/img/index.jpg")

    #image-box
      #guide-text 点击进入问卷
      a(href="/survey")
        img(src="/img/guide.png", border="0", alt="点击进入问卷")

    script(type='text/javascript', src='/js/float-img.js')
   