!!! 5
html
  head
    title= appName+' - '+title
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/success.js')

  body
    p 问卷填写成功,感谢您的参与.
    p 页面将在3秒后自动跳转...